<div class="container">
    <br><br>
    <div class="primary-card">
        
        <div>
            <h2>Gestion de sucursales</h2>
            <p>Sistema que permitirá:</p>
        
            <br>
            <ul>
                <li>Registrar Usuarios</li>
                <li>Listar todos los usuarios</li>
                <li>Consultar Usuarios Por Email</li>
             </ul>
            <ul>
               <li>Registrar Sucursales</li>
               <li>Listar todas las sucursales</li>
               <li>Consultar Sucursales Por Pais</li>
            </ul>
        </div>
    </div>
</div>