<div class="container-fluid">

    <form [formGroup]="reactiveForm">
        <div>
            <h2>Registrar sucursal</h2>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" id="nombre" formControlName="nombre" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <input type="text" id="descripcion" formControlName="descripcion" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pais">País</label>
                        <select class="form-control" id="pais" formControlName="pais">
                            <option *ngFor="let pais of Paises" [value]="pais">
                                {{pais}}
                              </option>
                        </select>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Ciudad</label>
                        <input type="text" id="ciudad" formControlName="ciudad" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" id="direccion" formControlName="direccion" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Dimension (mt2)</label>
                        <input type="text" id="dimension" formControlName="dimension" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>N° de pisos</label>
                        <input type="text" id="numeroPisos" formControlName="numeroPisos" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>N° de habitaciones</label>
                        <input type="text" id="numeroHabitaciones" formControlName="numeroHabitaciones" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Tarifa por noche (US)</label>
                        <input type="text" id="tarifaPorNoche" formControlName="tarifaPorNoche"  class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="status">Estatus</label>
                        <select class="form-control" id="pais" formControlName="status">
                          <option value="Activo">Activo</option>
                          <option value="Inactivo">Inactivo</option>
                        </select>
                      </div>
                </div>
            </div>
            <br>
            <div class="row" style="text-align: center;">
                <div class="form-group">
                    <button class="btn btn-primary" (click)="submitForm()">Registrar</button>
                </div>
            </div>

        </div>
    </form>
</div>