<div class="container-fluid"     class="tab-pane fade show active"
id="ex1-tabs-1"
role="tabpanel"
aria-labelledby="ex1-tab-1">
    <h2>Listar sucursales</h2>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group mb-3">
          <input  id="inputBuscarPorPais" type="text" class="form-control" name="pais" placeholder="Ingrese el país" [(ngModel)]="pais">
          <button id="buttonBuscarSucursal" style="margin-top: 0%;" class="btn btn-success" (click)="buscarPorPais()">BUSCAR</button>
        </div>
        
      </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
          <tr>
              <th *ngFor="let cabecera of Cabeceras">{{cabecera}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sucursal of listaSucursales">
            <!--<th >1</th>-->
            <th >{{sucursal.id}}</th>
            <td >{{sucursal.nombre}}</td>
            <td >{{sucursal.descripcion}}</td>
            <td >{{sucursal.pais}}</td>
            <td >{{sucursal.ciudad}}</td>
            <td >{{sucursal.direccion}}</td>
            <td >{{sucursal.dimension}}</td>
            <td >{{sucursal.numeroPisos}}</td>
            <td >{{sucursal.numeroHabitaciones}}</td>
            <td >{{sucursal.tarifaPorNoche}}</td>
            <td >{{sucursal.status}}</td>
          </tr>
        </tbody>
      </table>
</div>